<h1>Hello World!</h1>
<button 
    class="btn btn-primary" 
    type="button" 
    data-trigger="click" 
    data-type="success" 
    data-title="Yo mama" 
    bs-tooltip>
    Click me
</button>
<!-- ngModel is optional -->
<div class="panel-group" ng-model="multiplePanels.activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>
    <div class="panel panel-default">
        <div class="panel-heading pointer" role="tab" bs-collapse-toggle>
            <h4 class="panel-title">
                    Red
            </h4>
        </div>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
                Apple
            </div>
        </div>
    </div>
</div>
